body {
    font-family: 'Barlow', sans-serif;
    margin: 10px 22%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

form {
    margin: 18px 0px;
}

form input[type] {
    margin: 3px;
}

form label {
    margin: 3px;
}

form fieldset ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form fieldset li {
    margin: 3px 0px;
    padding: 0;
}
