<!DOCTYPE html>
<html>
    <head>
        <title>Coulomb blockade applet</title>
        <link href="https://fonts.googleapis.com/css?family=Barlow|Roboto+Mono|Roboto+Slab" rel="stylesheet"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true
              }
            });
        </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    </head>
<body>
    <h1>The Coulomb Blockade</h1>

    <div id="coulomb-blockade-applet">
      <div id="chemical-potentials-container">
        <canvas id="chemical-potentials" width="150" height="300"></canvas>
      </div>
      <div id="coulomb-diamond-container">
          <canvas id="coulomb-diamond" width="150" height="300"></canvas>
      </div>
    </div>

    <div class="slide-container">
      <input type="range" min="1" max="100" value="50" class="slider" id="source-slider">
      <p>Source Value: <span id="source-value"></span></p>
      <!--<input type="range" min="1" max="100" value="50" class="slider" id="drain-slider">
      <p>Drain Value: <span id="drain-value"></span></p>-->
      <input type="range" min="60" max="160" value="70" class="slider" id="island-slider">
      <p>Island Value: <span id="island-value"></span></p>
    </div>    


    
    <script src="{{ url_for('static', filename='js/chemical_potential.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/coulomb_diamond.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
</body>
</html>
